{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}
{% load css_class_filter %}
{% load staticfiles %}

{% block body_block %}

<section id="password" class="container">
    <div class="padding_top">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center">Change Password</h1>
                </div>
                <div class="modal-body row">
                    <form data-toggle="validator" class="col-md-12" role="form" method="post" action="/account/password/">
                        <fieldset class="registration-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">
                                        {{ form.non_field_errors }}
                                        {{ form.name_of_field.errors }}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">{{ form.oldpassword.errors }}</span>
                                </div>
                                <input type="password" data-minlength="6" id="oldpassword" name="oldpassword" placeholder="Current Password*" class="form-control" style="width: 100%;" required>
                            </div>
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">{{ form.password1.errors }}</span>
                                </div>
                                <input type="password" data-minlength="6" id="password" name="password1" placeholder="New Password*" class="form-control" style="width: 100%;" required>
                            </div>
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">{{ form.password2.errors }}</span>
                                </div>
                                <input type="password" id="verify" name="password2" placeholder="New Password (Confirm)*" class="form-control" data-match-error="Whoops, these don't match" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-lg btn-block">Change Password</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <span class="pull-right"><a href="/account/profile/">Profile</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#registration-->
{% endblock %}