{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}
{% load css_class_filter %}
{% load staticfiles %}

{% block body_block %}

<section id="registration" class="container">
    <div class="padding_top">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center">User Profile</h1>
                </div>
                <div class="modal-body row">
                    <form data-toggle="validator" {% comment %}id="myForm"{% endcomment %} class="col-md-12" role="form" method="post" action="/account/profile/">
                        <fieldset class="registration-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">
                                        {{ form.non_field_errors }}
                                        {{ form.name_of_field.errors }}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">{{ form.user_group.errors }}</span>
                                </div>
                                <!--input type="text" id="username" name="username" placeholder="Username*" class="form-control"  value="{{ form.username.value|default_if_none:""}}" required-->
                                {{ form.user_group| add_class:'form-control'}}
                            </div>
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">{{ form.username.errors }}</span>
                                </div>
                                {{ form.username| add_class:'form-control'}}
                            </div>
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">{{ form.email.errors }}</span>
                                </div>
                                {{ form.email| add_class:'form-control'}}
                            </div>
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">{{ form.first_name.errors }}</span>
                                </div>
                                <input type="text" id="first_name" name="first_name" placeholder="First Name*" class="form-control"  value="{{ form.first_name.value|default_if_none:""}}">
                            </div>
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">{{ form.last_name.errors }}</span>
                                </div>
                                <input type="text" id="last_name" name="last_name" placeholder="Last Name*" class="form-control"  value="{{ form.last_name.value|default_if_none:""}}">
                            </div>
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">{{ form.phone_number.errors }}</span>
                                </div>
                                <input type="text" id="phone_number" name="phone_number" placeholder="Phone (9999999999)*" class="form-control" value="{{ form.phone_number.value|default_if_none:""}}" required>
                            </div>
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">{{ form.address_line1.errors }}</span>
                                </div>
                                <input type="text" id="address_line1" name="address_line1" placeholder="Address Line1*" class="form-control" value="{{ form.address_line1.value|default_if_none:""}}" >
                            </div>
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">{{ form.address_line2.errors }}</span>
                                </div>
                                <input type="text" id="address_line2" name="address_line2" placeholder="Address Line2" class="form-control" value="{{ form.address_line2.value|default_if_none:""}}">
                            </div>
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">{{ form.city.errors }}</span>
                                </div>
                                <input type="text" id="city" name="city" placeholder="City/Town*" class="form-control" value="{{ form.city.value|default_if_none:""}}" >
                            </div>
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">{{ form.country.errors }}</span>
                                </div>
                                <input type="text" id="country" name="country" placeholder="Country*" class="form-control" value="{{ form.country.value|default_if_none:""}}" >
                            </div>
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="help-block">{{ form.post_code.errors }}</span>
                                </div>
                                <input type="text" id="post_code" name="post_code" placeholder="PostCode*" class="form-control" value="{{ form.post_code.value|default_if_none:""}}" >
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-lg btn-block">Update</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!--/#registration-->

{% comment %}    {% block script_block %}

        <script type="text/javascript">
            $(document).ready(function(){
                $('#myForm').validator()
            });
        </script>


    {% endblock %}{% endcomment %}
{% endblock %}