{% extends 'base.html' %}

{% block title %}FAQs{% endblock %}

{% load staticfiles %}

{% block body_block %}

    <section id="registration" class="container">
        <form data-toggle="validator" {% comment %}id="myForm"{% endcomment %} class="center" role="form" method="post" action="/accounts/register/">
            <fieldset class="registration-form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.name_of_field.errors }}
                <div class="form-group">
                    <div class="has-error">
                        <span class="help-block">{{ form.username.errors }}</span>
                    </div>

                    <input type="text" id="username" name="username" placeholder="Username" class="form-control"  value="{{ form.username.value|default_if_none:""}}" required>
                </div>
                <div class="form-group">
                    <div class="has-error">
                        <span class="help-block">{{ form.email.errors }}</span>
                    </div>

                    <input type="email" id="email" name="email" placeholder="E-mail" class="form-control" value="{{ form.email.value|default_if_none:""}}" data-error="Bruh, that email address is invalid" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <div class="has-error">
                        <span class="help-block">{{ form.password1.errors }}</span>
                    </div>

                    <input type="password" data-minlength="6" id="password" name="password1" placeholder="Password" class="form-control" required>
                    <!--span class="help-block">Minimum of 6 characters</span-->
                </div>
                <div class="form-group">
                    <div class="has-error">
                        <span class="help-block">{{ form.password2.errors }}</span>
                    </div>

                    <input type="password" id="verify" name="password2" placeholder="Password (Confirm)" class="form-control" data-match-error="Whoops, these don't match" required>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <div class="has-error">
                        <span class="help-block">{{ form.phone_number.errors }}</span>
                    </div>

                    <input type="text" id="phone_number" name="phone_number" placeholder="Phone (9999999999)" class="form-control" value="{{ form.phone_number.value|default_if_none:""}}" required>

                </div>

                <div class="form-group">
                    <button class="btn btn-success btn-md btn-block">Register</button>
                </div>
            </fieldset>
        </form>
    </section><!--/#registration-->

{% comment %}    {% block script_block %}

        <script type="text/javascript">
            $(document).ready(function(){
                $('#myForm').validator()
            });
        </script>


    {% endblock %}{% endcomment %}
{% endblock %}