{% extends 'base.html' %}

{% block title %}Unauthorized{% endblock %}

{% load staticfiles %}

{% block body_block %}
    <section id="error" class="container text-center">
        <div class="padding_top">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4"><img alt="Mashape" src="/static/images/mashape.png" class="img-responsive"></div>
                <div class="col-md-6" style="text-align: left">
                    <h1>401: Unauthorized</h1>
                    <h2>Oh, no! It seems you are trying to access one of our API's but unfortunately it has been captured by this Ape!</h2>
                    <h2>But no worries, you still can find it by clicking the button below. Don't forget to bring "banana" with you!!</h2>
                    <br>
                    <a href="https://www.mashape.com/codeepy/codeepy-vispox?&amp;utm_campaign=mashape5-embed&amp;utm_medium=button&amp;utm_source=codeepy-vispox&amp;utm_content=anchorlink&amp;utm_term=text-dark" target="_blank"><img alt="Mashape" src="https://d1g84eaw0qjo7s.cloudfront.net/images/badges/badge-text-dark-d8e48538.png" width="200" height="38"></a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section><!--/#error-->
{% endblock %}