{% extends 'base.html' %}

{% block title %}Internal Error{% endblock %}

{% load staticfiles %}

{% block body_block %}
    <section id="error" class="container text-center">
        <div class="padding_top">
            <h1>500, Internal Error</h1>
            <p>The page you are looking for contains error. Hang on, we are working on it.<br>Please come back again later.</p>
            <a class="btn btn-primary" href="/">GO BACK TO THE HOMEPAGE</a>
        </div>
    </section><!--/#error-->
{% endblock %}