{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% load staticfiles %}

{% block body_block %}
<section>
    <div id="about">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    <h2  data-wow-delay="0.3s" class="wow rollIn animated" ><strong>ABOUT THE MOVEMENT </strong></h2>
                    <p class="sub-head">Through SHARE.IT you can make a difference in the world....</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="media wow rotateIn animated" data-wow-delay="0.2s">
                        <div class="pull-left">
                            <i class="fa fa-newspaper-o fa-4x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Research & Statistics</h3>
                            <p>
                                <ul>
                                    <li>Every day about 21,000 people die of hunger or hunger-related causes</li>
                                    <li>Poor nutrition causes nearly 45% of deaths in children under five and approximately 3.1 million children die each year</li>
                                    <li>Around 805 million people in the world do not have adequate food to lead a healthy life</li>
                                    <li>Every year approximately one third of the food produced in the world, which weighs around 1.3 billion tonnes and costs $165 billion (including production cost) approximately, are either wasted or gets lost</li>
                                </ul>
                            </p>
                        </div>
                    </div>
{#                    <div class="media wow rotateIn animated" data-wow-delay="0.3s">#}
{#                        <div class="pull-left">#}
{#                            <i class="fa fa-history fa-4x"></i>#}
{#                        </div>#}
{#                        <div class="media-body">#}
{#                            <h3 class="media-heading">Eco-Friendly Techniques</h3>#}
{#                            <p>#}
{#                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.#}
{#                                Aenean faucibus luctus enim.#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-8 col-md-8">#}
                    <br>
                    <div class="media wow rotateIn animated" data-wow-delay="0.4s">
                        <div class="pull-left">
                            <i class="fa fa-lightbulb-o fa-4x "></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Our Motivation</h3>
                            <p class="bold-p">
                                To support & lead the movement, "<b>Food For Everyone</b>"
                            </p>
                        </div>
                    </div>
{#                    <div class="media wow rotateIn animated" data-wow-delay="0.5s">#}
{#                        <div class="pull-left">#}
{#                            <i class="fa fa-life-ring fa-4x  "></i>#}
{#                        </div>#}
{#                        <div class="media-body">#}
{#                            <h3 class="media-heading">Resource Utilization</h3>#}
{#                            <p>#}
{#                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.#}
{#                                Aenean faucibus luctus enim.#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
                </div>
                <div class="col-lg-4 col-md-4 wow bounceInDown animated" style="padding: 10px;" data-wow-delay="0.6s"   >
                    <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item">
                                <img src="/static/img/slider/4.jpg" class="img-thumbnail" alt="">
                            </div>
                            <div class="item">
                                <img src="/static/img/slider/5.jpeg" class="img-thumbnail" alt="">
                            </div>
                            <div class="item active">
                                <img src="/static/img/slider/6.jpeg" class="img-thumbnail" alt="">
                            </div>
                        </div>
                        <!--INDICATORS-->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-slider" data-slide-to="0" class=""></li>
                            <li data-target="#carousel-slider" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-slider" data-slide-to="2" class="active"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row pad-top-botm wow flipInX animated" data-wow-delay="0.7s">
                <div class="col-lg-8 col-md-8 col-sm-8 " >
                    <h3><strong>What is Share.it and it's use ?</strong></h3>
                    <p>
                        Share.it is a web-app, which enables any person to engage and lead the "Food For Everyone" movement. Using Share.it you can:
                    </p>
                    <p>
                        <ul>
                        <li>Share food or good leftovers with people who may need them</li>
                        <li>Find the nearest food banks and get directions to them</li>
                        <li>Find other volunteers just like you and collaborate with them to lead your own movement</li>
                        <li>Collaborate with food banks to support and spread the awareness through the built-in 'Share.it Network' </li>
                        <li>You can also request for any food from volunteers and food banks if you need so....</li>
                        </ul>
                    </p>
                    <p>All the things which you can do in Share.it, make it the world's first true <b>Crowd-Fooding</b> platform!</p>
                    <h3><strong>How to use Share.it?</strong></h3>
                    <p>Just follow the steps below:</p>
                    <ul>
                        <li>Sign Up with Share.it</li>
                        <li>Check your account details, especially your phone number and address, so that you can collaborate easily with other volunteers and food banks near to you</li>
                        <li>Start sharing your food and never waste food again through the built-in 'Share.it Network' </li>
                        <li>Be a leader!</li>
                    </ul>
                    </p>
                    <br />
                    <br />
                    <h4 class="new-h4">Source:</h4>
                    <p>
                    <ul>
                        <li>Hunger Statistics. <a href="http://www.wfp.org/hunger/stats" style="color: red">www.wfp.org/hunger/stats</a></li>
                        <li>World Hunger. <a href="http://www.worldhunger.org" style="color: red">www.worldhunger.org</a></li>
                        <li>United Ntions Environment Programme. <a href="http://www.unep.org" style="color: red">www.unep.org</a></li>
                        <li>Food and Agriculture Organization of the United Nations. <a href="http://www.fao.org" style="color: red">www.fao.org</a></li>
                    </ul>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <i class="fa fa-lightbulb-o big-icon"></i>
                </div>
            </div>
        </div>
    </div>
    <!--./ ABOUT SECTION END -->
</section>
{% endblock %}