<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="FoodBank Project for Koding Global Virtual Hackathon."/>
    <meta name="keywords" content="Codeepy,FoodBank,Hackathon"/>
    <meta name="robots" content="index,follow"/>
    <title>{% block title %}{% endblock %} | FoodBank | Codeepy</title>
</head>
<body>
    <header id="header">
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li id="home"><a href="/">Home</a></li>
                <li id="about"><a href="/about/">About</a></li>
                <li id="contact"><a href="/contact/">Contact Us</a></li>
                <li id="donation"><a href="/donation/">Donation</a></li>
                <li id="api"><a href="/api/">API</a></li>
            </ul>
        </div>
    </header>
    
    {% block body_block %}{% endblock %}
    
    <footer>
        &copy; 2014 <a href="http://www.codeepy.com/" target="_blank">Codeepy</a>. All Rights Reserved.
    </footer>
    
    {% block script_block %}{% endblock %}
</body>