
{% extends 'base.html' %}

{% block title %}Donation{% endblock %}

{% load staticfiles %}

{% block body_block %}
<section>
    <div id="help" >
        <div class="overlay">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                        <h2 data-wow-delay="0.3s" class="wow rollIn animated"><strong>HOW YOU CAN HELP ?</strong></h2>
                        <p class="sub-head">Checkout this video , which will let you know how you can help us to save the earth and let the earth live long peacefully. </p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-6 col-lg-offset-1  col-md-6 col-md-offset-1">
                        <iframe src="http://player.vimeo.com/video/18312392" class="vedio-style wow rotateIn animated" data-wow-delay="0.4s"></iframe>
                    </div>

                    <div class="col-lg-4 col-md-4 div-trans text-center" style="margin-top: 10px">
                        <h3>DONATE & SAVE </h3>
                        <h2 ><i class="fa fa-code" ></i><span>EARTH</span><i class="fa fa-code"></i></h2>
                        <div class="col-lg-12 col-md-12 col-sm-12" >
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Email address">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Amount in $">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block btn-lg">DONATE NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}