{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% load staticfiles %}

{% block body_block %}
<section>
    <div id="home" >
        <div class="overlay">
            <div class="container">
                <div class="quoted">
                    "Stop wasting food and Share.it" - <span style="color:#ff8000">Codeepy</span>
                    <img src="/static/img/quote.png" style="width: 80px">
                </div>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-lg-6 col-md-6 head-text">
                        <h1 id="divDisp" >FOOD FOR EVERYONE</h1>
                        <span><i class="fa fa-lightbulb-o"></i>Every day about 21,000 people die of hunger or hunger-related causes</span>
                        <span><i class="fa fa-lightbulb-o"></i>You can change this....</span>
                        <span><i class="fa fa-lightbulb-o"></i>Every year approximately one third of the food produced in the world, which weighs around 1.3 billion tonnes, are either wasted or get lost</span>
                        <span><i class="fa fa-lightbulb-o"></i>Make a difference by sharing food through Share.it</span>
                    </div>
                    <div class="col-lg-6 col-md-6" style="padding-top: 40px;">
                        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/koding" data-widget-id="541471495156142080">#koding Tweets</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}