{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% load staticfiles %}

{% block body_block %}
<section>
    <div id="home" >
        <div class="overlay">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-6 col-md-6 head-text">
                        <h1 id="divDisp" >WHY WE NEED DONATIONS?</h1>
                        <span><i class="fa fa-lightbulb-o"></i>For Planting new plants</span>
                        <span><i class="fa fa-lightbulb-o"></i>For Promoting Eco Education in Schools</span>
                        <span><i class="fa fa-lightbulb-o"></i>Encouraging Eco Friendly Methods</span>
                        <span><i class="fa fa-lightbulb-o"></i>Recycling Waste and garbage</span>
                        <span><i class="fa fa-lightbulb-o"></i>For Maintaing ecological balance</span>
                        <span><i class="fa fa-lightbulb-o"></i>To Research new eco friendly techniques</span>
                    </div>
                    <div class="col-lg-6 col-md-6" style="padding-top: 120px;">
{#                        <div class="div-trans text-center">#}
{#                            <h3>DONATE & SAVE </h3>#}
{#                            <h2 ><i class="fa fa-code" ></i><span >EARTH</span>  <i class="fa fa-code"></i></h2>#}
{#                            <div class="col-lg-12 col-md-12 col-sm-12" >#}
{#                                <div class="form-group">#}
{#                                    <input type="text" class="form-control" required="required" placeholder="Name">#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <input type="text" class="form-control" required="required" placeholder="Email address">#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <input type="text" class="form-control" required="required" placeholder="Amount in $">#}
{#                                </div>#}
{#                                <div class="form-group">#}
{#                                    <button type="submit" class="btn btn-success btn-block btn-lg">DONATE NOW</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/koding" data-widget-id="541471495156142080">#koding Tweets</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}