{% extends 'base.html' %}

{% block title %}Network{% endblock %}

{% load staticfiles %}

{% block head_block %}
    <style>
        html, body, #map-canvas {
            height: 435px;
            margin: 0px;
            padding: 0px
        }
        #panel {
            float: right;
            background-color: #ffffff;
        }
        #directions-panel {
            height: 400px;
            font-size: 13px;
            overflow: auto;
        }
        #close-button {
            display: none;
            font-size: 16px;
            margin: 0 auto;
            width: 100%;
        }
    </style>
    <script>
        var directionsDisplay;
        var geocoder;
        var infowindow, infowindowLarge;
        var pos, marker, map;
        var defaultZoom = 13;
        var origins = [];
        var destinations = [];

        function initialize() {
            directionsDisplay = new google.maps.DirectionsRenderer();
            geocoder = new google.maps.Geocoder();
            var mapOptions = {
                zoom: defaultZoom
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            directionsDisplay.setMap(map);
            directionsDisplay.setPanel(document.getElementById('directions-panel'));

            infowindow = new google.maps.InfoWindow({maxWidth: 200});
            infowindowLarge = new google.maps.InfoWindow({maxWidth: 200});

            // Try HTML5 geolocation
            if(navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    origins.push(pos);
                    var icon = '/static/img/marker/you-are-here-2.png';
                    marker = new google.maps.Marker({
                        position: pos,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        icon: icon
                    });

                    google.maps.event.addListener(marker, 'click', toggleBounce);

                    viewAddress(pos, marker);

                    var request = {
                        location: pos,
                        radius: 1000,
                        query: ['food bank']
                    };
                    var service = new google.maps.places.PlacesService(map);
                    service.textSearch(request, searchFoodBank);

                    map.setCenter(pos);
                }, function() {
                    handleNoGeolocation(true);
                    }
                );
            } else {
                // Browser doesn't support Geolocation
                handleNoGeolocation(false);
            }
        }

        function searchFoodBank(results, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    createMarker(results[i]);
                }
                calcDistances();
            }
        }

        function createMarker(place) {
            var foodbankPos = place.geometry.location;
            destinations.push(foodbankPos);
{#            var foodbankPos = new google.maps.LatLng(53.483959, -2.244644);#}
            var foodbankIcon = '/static/img/marker/grocery.png';
            var foodbankMarker = new google.maps.Marker({
                position: foodbankPos,
                map: map,
                icon: foodbankIcon
            });

            google.maps.event.addListener(foodbankMarker, 'click', function() {
{#                viewAddress(foodbankPos, foodbankMarker);#}
                viewInfo(foodbankPos, foodbankMarker, place.name);
                calcRoute(pos, foodbankPos);
                showRoute();
            });
        }

        function toggleBounce() {
            viewAddress(pos, marker);
            if (marker.getAnimation() != null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }

        function getAddress(pos, fn) {
            geocoder.geocode({'latLng': pos}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[1]) {
                        fn(results[1].formatted_address);
                    } else {
                        fn('No results found');
                    }
                } else {
                    fn('Geocoder failed due to: ' + status);
                }
            });
        }

        function viewAddress(pos, marker) {
            getAddress(pos, function(address){
                infowindow.setContent('<b>Your location</b>:\n' + address);
                infowindow.open(map, marker);
            });
        }

        function viewInfo(pos, marker, name) {
            getAddress(pos, function(address) {
                infowindowLarge.setContent('<b>' + name + '</b>:\n' + address);
                infowindowLarge.open(map, marker);
            });
        }

        function handleNoGeolocation(errorFlag) {
            if (errorFlag) {
                var content = 'Error: The Geolocation service failed.';
            } else {
                var content = 'Error: Your browser doesn\'t support geolocation.';
            }

            var options = {
                map: map,
                position: new google.maps.LatLng(60, 105),
                content: content
            };

            var infowindow = new google.maps.InfoWindow(options);
            map.setCenter(options.position);
        }

        function calcRoute(start, end) {
            var request = {
                origin:start,
                destination:end,
                travelMode: google.maps.TravelMode.WALKING
            };
            var directionsService = new google.maps.DirectionsService();
            directionsService.route(request, function(response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setOptions({ preserveViewport: true });
                    directionsDisplay.setDirections(response);
                }
            });
        }

        function calcDistances() {
            var service = new google.maps.DistanceMatrixService();

            service.getDistanceMatrix(
            {
                origins: origins,
                destinations: destinations,
                travelMode: google.maps.TravelMode.WALKING,
                unitSystem: google.maps.UnitSystem.METRIC
            }, distanceCallback);
        }

        function distanceCallback(response, status) {
            if (status != google.maps.DistanceMatrixStatus.OK) {
                alert('Error was: ' + status);
            } else {
                var nearest, index;
                for (var i = 0; i < origins.length; i++) {
                    var results = response.rows[i].elements;
                    for (var j = 0; j < results.length; j++) {
                        if (j == 0 || j > 0 && nearest.value > results[j].distance.value) {
                            nearest = results[j].distance;
                            index = j;
                        }
                    }
                    calcRoute(origins[0], destinations[index]);
                    showRoute();
                }
            }
        }

        function showRoute() {
            directionsDisplay.setMap(map);
            document.getElementById("directions-panel").style.width = "400px";
            document.getElementById("close-button").style.display = "block";
        }

        function resetView() {
            document.getElementById("directions-panel").style.width = "0";
            document.getElementById("close-button").style.display = "none";
            directionsDisplay.setMap(null);
            map.setCenter(pos);
            map.setZoom(defaultZoom);
            viewAddress(pos, marker);
        }

        function loadScript() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&callback=initialize';
            document.body.appendChild(script);
        }

        window.onload = loadScript;
    </script>
    <style>
        input {
            width: 100%;
            padding-left: 10px;
        }
        #box {
            height: 150px;
            font-size: 12px;
            overflow: auto;
            color: black;
        }
        .card {
            box-shadow: 0 1px 0 2px rgba(0,0,0,0.1);
            border-radius: 1px;
            -webkit-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s;
        }
        .padding-top-10 {
            padding-top: 10px;
        }
        .margin-bottom-10 {
            margin-bottom: 10px !important;
        }
        .margin-bottom-20 {
            margin-bottom: 20px !important;
        }
        .margin-top-20 {
            margin-top: 20px !important;
        }
        .white {
            background-color: #fff;
        }
    </style>
{%  endblock %}

{% block body_block %}
<section>
    <div class="padding_top">
        <div style="background-color: #EEE; padding: 10px;">
            <img src="/static/img/marker/grocery.png" />: Food Bank&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="/static/img/marker/statue-2.png" />: Other Volunteers&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="/static/img/marker/hotfoodcheckpoint.png" />: Food Broadcast&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="/static/img/marker/you-are-here-2.png" />: You
        </div>
        <div id="panel">
            <div id="directions-panel"></div>
            <button id="close-button" type="button" class="btn btn-default" onclick="resetView()">Close Route View</button>
        </div>
        <div id="map-canvas"></div>
        <div class="container" style="color:white">
            <div class="row margin-top-20 margin-bottom-20">
                {% if user and not user.is_anonymous %}
                <div class="col-lg-6 col-md-6 padding-top-10">
                    Click the green button to share food*
                    <p>
                        <input id="foodType" class="margin-top-10 margin-bottom-10" style="color: #000000" placeholder="Please describe your food to share.... (*required)"  required>
                        <button id="shareFood" type="submit" class="btn btn-success btn-block btn-lg" onclick="publish();">SHARE.IT</button>
                    </p>
                    <span style="font-size: 11px;">
                        *By clicking the button you agree to share your location for food distribution purpose.<br>
                        Please use the latest version of Google Chrome and allow the location sharing.
                    </span>
                    <h4>Check nutritional properties of your food</h4>
                </div>
                <div class="col-lg-6 col-md-6 div-trans padding-top-10" style="margin-top: 10px; color: #ffffff;">
                    Hi <b>{{ user.username }}</b>, type a message to reach our Volunteers.
                    <div><input id="input" class="margin-top-20 margin-bottom-20" style="color: #000000" placeholder="Type your message here and press Enter to send" /></div>
                    <div id="box" class="white card margin-bottom-20"></div>
                </div>
                {% else %}
                <div class="col-lg-12 col-md-12 padding-top-10">
                    Please sign in to access the volunteer area!
                    <a href="/account/login/?next={{request.path}}">
                        <button type="submit" class="btn btn-success btn-block btn-lg">GET ACCESS</button>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script_block %}
    <script src=http://cdn.pubnub.com/pubnub.min.js></script>
    <script>
        (function(){
            var box = PUBNUB.$('box'), input = PUBNUB.$('input'), channel = 'foodbank_public';
            PUBNUB.subscribe({
                channel  : channel,
                callback : function(text) {
                text = formatEmoticon(text);
                if (String(text).indexOf('<b style="color:red;">@{{ user.username }}</b>:') > -1)
                    box.innerHTML =
                        '<div style="text-align:right; color:blue; background-color:#EEE; padding:0 10px;">' +
                        String(text).replace('<b style="color:red;">@{{ user.username }}</b>:', '') +
                        '</div>' + box.innerHTML
                else
                    box.innerHTML = '<div style="padding:0 10px;">' + text + '</div>' + box.innerHTML
                }
            });
            PUBNUB.bind( 'keyup', input, function(e) {
                (e.keyCode || e.charCode) === 13 && PUBNUB.publish({
                      channel : channel, message : '<b style="color:red;">@{{ user.username }}</b>: ' + input.value, x : (input.value='')
                })
            });

            function formatEmoticon(text) {
                return String(text).
                    replace(/B\|/g, '<img src="/static/img/emoticon/Cool.png" style="width:30px" />').
                    replace(/:'\(/g, '<img src="/static/img/emoticon/Cry.png" style="width:30px" />').
                    replace(/:p/g, '<img src="/static/img/emoticon/Grimace.png" style="width:30px" />').
                    replace(/:P/g, '<img src="/static/img/emoticon/Grimace.png" style="width:30px" />').
                    replace(/:d/g, '<img src="/static/img/emoticon/Haha.png" style="width:30px" />').
                    replace(/:D/g, '<img src="/static/img/emoticon/Haha.png" style="width:30px" />').
                    replace(/<3/g, '<img src="/static/img/emoticon/Love.png" style="width:30px" />').
                    replace(/o.O/g, '<img src="/static/img/emoticon/Misdoubt.png" style="width:30px" />').
                    replace(/:\(/g, '<img src="/static/img/emoticon/Sad.png" style="width:30px" />').
                    replace(/:\)/g, '<img src="/static/img/emoticon/Smile.png" style="width:30px" />');
            }
        })()
    </script>
    <script>
         function publish() {
             if (document.getElementById('foodType').validity.valid) {
                 var shareButton = document.getElementById("shareFood");

                 if (shareButton.innerHTML == "SHARE.IT") {
                     shareButton.innerHTML = "STOP SHARING";

                     pubnub = PUBNUB.init({
                         publish_key: 'pub-c-c2f686ee-4510-489e-b5b5-54c8adb67b3f',
                         subscribe_key: 'sub-c-176de224-73e3-11e4-bfbc-02ee2ddab7fe'
                     })

                     function pub() {
                         var foodType = document.getElementById("foodType").value;
                         pubnub.publish({
                             channel: "foodbank_sharefood",
                             message: pos.lat() + ";" + pos.lng() + ";{{ user.username }};" + foodType,
                             callback: function (m) {
                                 console.log(m)
                             }
                         })
                     }

                     pubnub.subscribe({
                         channel: "foodbank_sharefood",
                         message: function (message, env, channel) {
                             var msg = JSON.stringify(message).replace(/"/g, '').split(";");
                             var foodPos = new google.maps.LatLng(msg[0], msg[1]);
                             var foodIcon = '/static/img/marker/hotfoodcheckpoint.png';
                             infowindow.setContent('<b>@' + msg[2] + '</b> says "' + msg[3] + '"');

                             if (!foodPos.equals(pos)) {
                                 var foodMarker = new google.maps.Marker({
                                     position: foodPos,
                                     map: map,
                                     animation: google.maps.Animation.DROP,
                                     icon: foodIcon
                                 });
                                 foodMarker.setAnimation(google.maps.Animation.BOUNCE);
                                 infowindow.open(map, foodMarker);
                             }
                             else {
                                 marker.setAnimation(google.maps.Animation.BOUNCE);
                                 infowindow.open(map, marker);
                             }
                         },
                         connect: pub
                     })
                 }
                 else if (shareButton.innerHTML == "STOP SHARING") {
                     shareButton.innerHTML = "SHARE.IT";
                     marker.setAnimation(null);
                 }
             }
             else {
                 document.getElementById('foodType').style.border = "1px solid red";
             }
         };
    </script>
    <script>
        if (String("{{ user.username }}")) {
            $(document).ready(function () {
                $.ajax({
                    url: 'https://codeepy-share-it-v1.p.mashape.com/api/latlong/?format=json',
                    type: 'GET',
                    data: {},
                    contentType: "application/json; charset=utf-8",
                    datatype: 'json',
                    success: function (data) {
                        var latlong = JSON.parse(JSON.stringify(data));
                        var volunteerIcon = '/static/img/marker/male.png';
                        var volunteerPos, volunteerMarker;
                        for (var i = 0; i < latlong.length; i++) {
                            volunteerPos = new google.maps.LatLng(latlong[i].lat_position, latlong[i].long_position);
                            volunteerMarker = new google.maps.Marker({
                                position: volunteerPos,
                                map: map,
                                icon: volunteerIcon
                            });
                        }
                    },
                    error: function (err) {
                        alert(err);
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-Mashape-Proxy-Secret", "7DydAqe5WnQYGFfmNrjmYY346xWL6l0z5hc2v3nPkUoX6mM6sm");
                        xhr.setRequestHeader("X-Mashape-Authorization", "8tAqKXLRbWmshEdYn2aUEA21zmNJp1i5TxRjsnQyhZMjmaLsDw");
                    }
                });
            });
        }
    </script>
{% endblock %}